%p#notice= notice

%h1 История

%p
  "THE MOONWALKERS" е танцова форамция, създадена 2010 година от върли фенове на Майкъл Джаксън, вдъхновени от уникалните му движения.

%p
  В началото на 2010 година танцьорите от групата се събират в танцово студио "Moonwalk",
чийто ръководител е Федя Райчев. Започват да танцуват по клубни партита, посветени на Майкъл Джаксън.

%p
  Организират "MJ WORLD CRY 2010" - София на 25-ти юни, 2010.

%p
  И т.н. :)

