%h1 The MOONWALKERS

- @users.each do |user| 
  %p
    .picture
      = image_tag user.picture_url(:mw_thumb)
    .small_profile
      .name
        = link_to user.name, user
      .description
        = user.contact

