<%= form_for(@novelty) do |f| %>
  <% if @novelty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@novelty.errors.count, "error") %> възпрепятстваха запомнянето на тази новина </h2>

      <ul>
      <% @novelty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
