<h1>Новини</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @novelties.each do |novelty| %>
  <tr>
    <td><%= link_to 'Редактирай', edit_novelty_path(novelty) %></td>
    <td><%= link_to 'Изтрий', novelty, confirm: 'Сигурни ли сте?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добави Новина', new_novelty_path %>
