%p#notice
  Промените бяха запазени успешно.

.novelty_title
  = @novelty.title
.novelty_text
  = @novelty.text

= link_to 'Редактиране', edit_novelty_path(@novelty) |
= link_to 'Обратно', novelties_path

